html {
    width: 100%;
    height: 100%;
}

/* Main game container styling */
.game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Styling for game controls like the start button and stats display */
.controls {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.footer {
    padding-top: 10px;
}

.footer a {
    text-decoration: none;
    color: #FDF8E6;
    font-size: 16px;
}

/* General button styling */
button, .myBTN {
    background: #282A3A;
    color: #FFF;
    border-radius: 5px;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    font-family: Fredoka;
    font-size: 18pt;
    box-shadow: 5px 3px 15px 1px rgb(0, 139, 35);
    transition: all 0.5s;
}
button:hover {
    color: #f3d634;
    background-color: #3e415a;
}

button.lock {
    pointer-events: none;
    background-color: #4d4c4c;
}

/* Styling for disabled elements */
.disabled {
    color: #ff7878;
}

/* Game stats (moves and timer) styling */
.stats {
    color: #FFF;
    font-size: 14pt;
    border: 1px dotted floralwhite;
    padding: 10px;
    box-shadow: 5px 3px 15px 1px rgb(0, 139, 35);
    border-radius: 7px;
}

.stats .moves, .stats .timer {
    color: #ffffff;
}

/* Board and card styling */
.board-container {
    position: relative;
}

.board, .win {
    border-radius: 5px;
    box-shadow: 0 25px 50px rgb(33 33 33 / 25%);
    background: linear-gradient(135deg, #095e25bd 0%, #ece929 50%, #e4b10b 100%);
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}
.board {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
}

.card {
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.card-front, .card-back {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background: #3a3328;
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
    font-size: 28pt;
    user-select: none;
    text-align: center;
    line-height: 100px;
    background: #FDF8E6;
}
/* Styling for the message that appears during game play */
.msg {
    display: none;
    background-color: #282A3A;
    width: auto;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 1px 1px 15px 2px rgb(111, 111, 111);
}

.msg p {
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
}

.win {
    display: none; /* Initially hidden, displayed only when winning */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #FDF8E6;
}

.win-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21pt;
    color: #282A3A;
}
.highlight {
    color: #35753b;
}

/* Responsive styling for smaller screens */
@media (max-width: 700px) {
    .board-container {
        width: 370px;
    } 

    .card {
        width: 70px;
        height: 70px;
    }

    .card-back {
        font-size: 20pt;
        line-height: 70px;
    }
}
